.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
}

/* General styles to ensure functionality */
.hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    overflow-x: scroll;
}

@media (max-width: 768px) {
    .no-navbar-mobile .navbar {
        display: none;
    }
}
