.create-account {
    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .welcome {
        .header {
            color: #000000;
            font-family: "Plus Jakarta Sans";
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 0;
            line-height: normal;
            margin-bottom: 8px;
        }

        .p {
            color: #7a7a7a;
            font-family: "Plus Jakarta Sans";
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: normal;
        }

        margin: 20px 0;
    }

    .form {
        max-width: 466px;

               border-color: #C6C6C6;

    }

    .text-wrapper-2 {
        color: #000000;
        font-family: "Plus Jakarta Sans-Regular", Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        text-decoration: underline;
    }

    .content {
        margin: 50px 0;
        width: 100%;
    }

    .submit-area {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 80px 0;
        align-items: left;
        justify-content: left;

        .frame {
                       width: auto;
        }

        .group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: auto;

            img {
                margin: 0 10px;
                height: 10px
            }
        }

        @media (max-width: 400px) {
            display: grid;

            .group {
                justify-content: left;
                margin: 20px 0;
            }
        }
    }

    .have-acc {
        color: transparent;
        font-family: "Plus Jakarta Sans-Regular", Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        margin: auto 0;
        margin-bottom: 40px;
        width: 100%;
        text-align: left;
        margin: 30px 0;

        .span {
            color: #000000;
        }

        .text-wrapper-4 {
            color: #f04950;
            font-family: "Plus Jakarta Sans", Helvetica;
            font-weight: 500;
            text-decoration: none;
        }
    }

    .group {
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: space-around;

        // .text-wrapper-5 {
        //     color: #7a7a7a;
        //     font-family: "Plus Jakarta Sans", Helvetica;
        //     font-size: 14px;
        //     font-weight: 500;
        //     left: 0;
        //     letter-spacing: 0;
        //     line-height: normal;
        //     top: 0;
        // }

        .img {
            margin: 0 20px;
        }
    }

    .step {
        color: transparent;
        font-family: "Plus Jakarta Sans-Regular", Helvetica;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
    }
}
