$textPrimary: "Poppins";
$textSecondary: "Open Sans";
$colorGrey: #f7f7f7;
$colorGrey50: #f8fafc;
$colorGrey200: #e4e4e7;
$colorBlue: #006fcf;
$colorBlue25: #006fcf40;
$colorBlueGrey: #0f172a;
$colorBlueGrey300: #cbd5e1;
$colorBlueGrey100: #f1f5f9;
$colorLightBlue: #006fcf0f;
$colorWhite: #ffffff;
$colorDark: #090914;
$colorOrange: #ff9900;
